@media(max-width: 640px){
	.header__button{
		display: flex;
		position: absolute;
		top: 12px;
		right: 10px;
		z-index: 15;
	}
	.header__top-inner{
		position: relative;
		justify-content: center;
		z-index: 10;
	}
	.header__menu{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		transform: translateY(-300px);
		transition: transform .5s;
		width: calc(100% + 20px);
		
		margin: 0 -10px;
		&-list{
			
			justify-content: space-evenly;
		}
		&-link{
			display: inline-block;
			padding: 20px 0;
		
		}
		&-active{
				transform: translateY(100%);
		}
	}
}